<ion-header class="ion-no-border" style="margin-bottom: 10%;">
  <div style="position:absolute; padding-top: 20px; padding-left:10px;" click [routerLink]="['/page5']">
    <img src="/assets/Group 5.png">

  </div>

  <div style="margin-left: 70%; padding-top: 20px;" click [routerLink]="['/package']">
    <img src="/assets/Cancel.png">
  </div>
</ion-header>

<ion-content padding class="background" fullscreen="false">
  
  <ion-button fill="solid" [routerLink]="['/vehicle']" position="fixed" left="0" bottom="10px" z-index="25" right="0"> Next </ion-button>
  
  <img class="frame" src="../assets/pickup.png">

  <ion-segment value="default">
    <ion-segment-button value="default">
      <ion-label>Depart after</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>Arrive by</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" presentation="date-time" hourCycle="h23" [preferWheel]="true" mode="ios"></ion-datetime>

  <ion-segment class="day" value="default">
    <ion-segment-button value="default">
      <ion-label>Today</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>Tomorrow</ion-label>
    </ion-segment-button>
  </ion-segment>

<div></div>
</ion-content>
++