<a style="margin-top: 20px; margin-left: 14px;">
<img class="josh" src="/assets/Josh.png">

</a>
<p>What are you sending today</p>


<ion-content>
  <ion-grid>
    <ion-row style="text-align: center;">
      <div style="text-align: center; margin-right: 15px; margin-bottom: 15px;">
        <a click [routerLink]="['/home']">
          <img ion-button click routerLink="page1" src="/assets/7289.png">
        </a>
      </div>

      <div style="text-align: center; ">
        <a click [routerLink]="['/home']">
          <img ion-button click routerLink="page1" src="/assets/7290.png">
        </a>
      </div>
      <div style="text-align: center;">
        <a click [routerLink]="['/home']">
          <img src="/assets/7291.png">
        </a>
      </div>

    </ion-row>
  </ion-grid>
</ion-content>

<footer>
  <div >
    <img src="/assets/CircleHalfTilt.png" >
   </div>
  <div >
   <img src="/assets/Rectangle.png" >
  </div>

 

</footer>