<ion-header class="ion-no-border" style="margin-bottom: 10%;">
  <div style="position:absolute; padding-top: 20px; padding-left:10px;" click [routerLink]="['/page5']">
    <img src="/assets/Group 5.png">

  </div>

  <div style="margin-left: 70%; padding-top: 20px;" click [routerLink]="['/home-package']">
    <img src="/assets/Cancel.png">
  </div>
</ion-header>

<ion-content fullscreen>
  <ion-header collapse="condense" class="ion-no-border"> </ion-header>
  <ion-title class="title" size="large">Take a picture of the item</ion-title>

  <p class="note">Please note:</p>
  <p class="info">Take picture of your parcel close to a</p>
  <p class="continue"> recognisable object such as a chair, pen , etc.</p>


  <img class="object" src="../assets/object1.png">
  <img class="laptop" src="../assets/laptop1.png">
  <img class="follow" src="../assets/Follow.png">
  
  <ion-button fill="solid" [routerLink]="['/image']"> <ion-icon size="large" name="camera-outline"></ion-icon>&nbsp; Take a Picture </ion-button>

</ion-content>
