ion-input{
    font-size: 0.9rem;
    --padding-start: 30px;
    padding-left: 1px;
    --padding-top:10px;
    --padding-bottom:10px;
    background: rgba(244, 244, 244, 1);
    margin-left: 1px;
    border-bottom: solid 1px  rgb(84, 181, 65) !important;
    border-bottom-style:inherit;
}