ion-list{
    font-size: 0.9rem;
    --padding-start: 30px;
    padding-left: 1px;
    --padding-top:10px;
    --padding-bottom:10px;
    background: rgba(244, 244, 244, 1);
    margin-left: 1px;
    border-bottom: solid 1px  rgb(84, 181, 65) !important;
    border-bottom-style:inherit;
}

ion-select{
    text-align: center;

    border-bottom: solid 5px  rgb(84, 181, 65) !important;
  border-bottom-style:inherit;
  
  --border-radius: 12px !important;
  
  font-size: 0.9em;
  position:relative;

width:85%;
  border-width: 80%;

  border-bottom-width: 1px !important;
  --background: rgb(244, 244, 244) !important;


  border: 1px;
}