<ion-content [fullscreen]="true">
  <div style="position:absolute; padding-top: 20px; padding-left:10px;" click [routerLink]="['/page5']">
    <img src="/assets/Group 5.png">

  </div>

  <div style="margin-left: 70%; padding-top: 20px;" click [routerLink]="['/page5']">
    <img src="/assets/Cancel.png">
  </div>



  <div style="padding-left: 20px; padding-right: 20px;  padding-top: 50px; height: 100%;">
    <div>
      <img src="/assets/provide.png">
    </div>


    <div style="margin-bottom: 14%;">
      <p style="text-align: center;">Height of Package</p>

  
      <ion-list>
        <ion-item class="ion-no-border">
          <ion-label>
            Inches
          </ion-label>
          <ion-select placeholder="Height by Inches" style="text-align: right;">

            <ion-select-option>2</ion-select-option>
            <ion-select-option>4</ion-select-option>
            <ion-select-option>6</ion-select-option>
            <ion-select-option>8</ion-select-option>
            <ion-select-option>10</ion-select-option>

          </ion-select>

        </ion-item>
      </ion-list>
    </div>

    <div style="margin-bottom: 14%;">
      <p style="text-align: center;">Width of Package</p>

      <ion-list >
        <ion-item class="ion-no-border">
          <ion-label >
            Inches
          </ion-label>
          
          <ion-select placeholder="Width by Inches" style="text-align: right;">

            <ion-select-option>2</ion-select-option>
            <ion-select-option>4</ion-select-option>
            <ion-select-option>6</ion-select-option>
            <ion-select-option>8</ion-select-option>
            <ion-select-option>10</ion-select-option>

          </ion-select>

        </ion-item>
      </ion-list>
    </div>
<ion-row>
    <div class="name" style="width:65%; margin-bottom: 10%;">
      <p>Weight of Package</p>

      <ion-list>
        <ion-item class="ion-no-border">
          <ion-label style="width: 30px;">
            Kg
          </ion-label>
          <ion-select placeholder="Weight">

            <ion-select-option>2</ion-select-option>
            <ion-select-option>4</ion-select-option>
            <ion-select-option>6</ion-select-option>
            <ion-select-option>8</ion-select-option>
            <ion-select-option>10</ion-select-option>

          </ion-select>

        </ion-item>

      </ion-list>
    </div>

    <div style="margin-left:5%; width:25%; margin-top: 2%;">

      <p style="text-align: center;">Quantity</p>
      <ion-label position="floating"></ion-label>
      <ion-input rows="4" cols="3" style="text-align: center; fill: outline;" type="text"  ></ion-input> 

    </div>
  </ion-row> 

  <ion-row style="margin-top: 6% ;">

<p style="justify-content: center;"><B>Please note: </B>The driver will have a scale at hand to verify the weight of your package. If there is a difference in the weight of the package, it may affect the delivery cost</p>

  </ion-row>
  <ion-button color="success" style="display: block;" [routerLink]="['/home-package']">Next</ion-button>
  </div>
 

</ion-content>