<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <div>
      <img src="/assets/icon2.png" style="width: 79px; display: block; margin: auto; margin-top:25px; ">
      <h2 style="width: 139px; margin: auto;">Welcome to</h2>
      <h1 style="width: 139px; margin: auto; display: block;">SkiD</h1>
    </div>
  </ion-header>



  <ion-list>
    <div style="margin-top: 100px;">
      <ion-item>
        <p class="ion-text-center">Name</p>
        <ion-label position="floating"></ion-label>
        <ion-input class="name" style="margin-top: 10px; max-width: fit-content; display: block;  margin-left: 20px;"fill="outline"></ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item>
        <p>Email Address</p>
        <ion-label position="floating"></ion-label>
        <ion-input margin></ion-input>
      </ion-item>
    </div>
  </ion-list>

</ion-content>