
<ion-header class="ion-no-border">


    <img src="/assets/icon2.png" style="width: 79px; display: block; margin: auto; margin-top: 10%;">

    <img src="/assets/OTP Confirmation.png" style="display: block; margin: auto; ">






</ion-header>

<ion-header>

  <div style="margin-bottom:10%;">

    <p style="text-align: center;">Name</p>
    <ion-label position="floating"></ion-label>
    <ion-input style="text-align: center;" type="text" label="" placeholder="Enter First Name" style="margin-top: 10px;  margin:auto;"
      fill="outline"></ion-input>

  </div>

  <div style="margin-bottom: 40%;">

    <p  style="text-align: center;">Email Address</p>
    <ion-label position="floating"></ion-label>
    <ion-input   type="text" label="" placeholder="Provide a valid email address"
      style="margin-top: 20%;  margin:auto; margin-bottom: 5px;" fill="outline"></ion-input>

      <ion-button color="success" style="display: block; margin-top: 5%; margin-bottom: 10%;" [routerLink]="['/page5']">Continue</ion-button>


  <!-- <ion-button style="display: block;" [routerLink]="['/page5']">Continue</ion-button> -->

  <img style="margin-top: 2px;" src="/assets/or.png">

  <ion-button style="display: block; margin-top: 5%; " class="google" fill="outline" color="dark">
    <ion-icon color="dark" slot="start" name="logo-google"></ion-icon>
    Continue with Google
  </ion-button>


</div>
</ion-header>