



<ion-content>





  <div class="login-section ion-padding">

    <div style="position:absolute; padding-top: 20px; padding-left:10px;" click [routerLink]="['/page5']">
      <img src="/assets/Group 6.png">
  
    </div>
  
    
  
   
    <div class="heading ion-padding" style="margin-top: 10%;">


      
      <h1>Confirm OTP</h1>
      <p> A OTP has been sent to +639123456789</p>
      <p>Kindly enter below the 6 digit code</p>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">



<div class="container" >
  <ion-grid>
  <ion-row class="row">

    <ion-col>
    <div class="col-md-3" style="width:38px; height: 38px;">
      <ion-input type="number" #txt1 maxlength="1" (keyup)="move($event,'', txt1, txt2)"></ion-input> 
    </div>
  </ion-col>



  <ion-col>
    <div  class="col-md-3" style="width:38px; height: 38px;">
      <ion-input type="number" #txt2 maxlength="1" (keyup)="move($event, txt1, txt2, txt3)"></ion-input> 
    </div>
  </ion-col>

  <ion-col>
    <div class="col-md-3" style="width:38px; height: 38px;">
      <ion-input type="number" #txt3 maxlength="1" (keyup)="move($event, txt2, txt3, txt4)"></ion-input> 
    </div>
  </ion-col>


  <ion-col>
    <div class="col-md-3" style="width:38px; height: 38px; ">
      <ion-input type="number" #txt4 maxlength="1" (keyup)="move($event, txt3, txt4, '')"></ion-input> 
    </div>
  </ion-col>

  <ion-col>
    <div class="col-md-3" style="width:38px; height: 38px;">
      <ion-input type="number" #txt5 maxlength="1" (keyup)="move($event, txt3, txt4, '')"></ion-input> 
    </div>
  </ion-col>


  <ion-col>
    <div class="col-md-3" style="width:  38px; height: 38px;">
      <ion-input type="number" #txt6 maxlength="1" (keyup)="move($event, txt3, txt4, '')"></ion-input> 
    </div>
  </ion-col>




  </ion-row>

</ion-grid>









    </div>

    <div class="action-button ion-padding" style="left: 50%; justify-content: center; align-items: center; margin-left: 20%; margin-top: 30px;">
      <ion-button  class="login-button" [routerLink]="['/page4']"
        routerLinkActive="router-link-active">Enter</ion-button>
        
      <ion-button [routerLink]="['/page2']" routerLinkActive="router-link-active">Cancel</ion-button>
    </div>
  </div>
    </div></div></ion-content>