<ion-header class="ion-no-border" style="margin-bottom: 10%;">
  <div style="position:absolute; padding-top: 20px; padding-left:10px;" click [routerLink]="['/page5']">
    <img src="/assets/Group 5.png">

  </div>

  <div style="margin-left: 70%; padding-top: 20px;" click [routerLink]="['/page5']">
    <img src="/assets/Cancel.png">
  </div>
</ion-header>


<ion-content padding class="background" fullscreen="false" background-repeat="no-repeat">
  
  <img class="frame" src="../assets/Frame-4.png">
  <img class="vehicle" src="../assets/Frame 25.png">

  <ion-checkbox class="bike" mode="ios"></ion-checkbox>
  <ion-checkbox class="motor" mode="ios"></ion-checkbox>
  <ion-checkbox class="car" mode="ios"></ion-checkbox>
  <ion-checkbox class="van" mode="ios"></ion-checkbox>

  <ion-button fill="solid" [routerLink]="['/payment']"> Submit</ion-button>

</ion-content>
