ion-content{
    --background: linear-gradient(0deg,rgba(0,0,0,0.7), rgba(0,0,0,0.1)),
    url("/assets/rider.png") no-repeat center center / cover;

}

.login-section{
    height: 50vh;
    width: 100%;
    max-width: 500px;
    background: #fff;
    right: 0;
    left: 0;
    bottom: 0;
    margin:auto;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
}
