<ion-header class="ion-no-border" style="margin-bottom: 10%;">
  <div style="position:absolute; padding-top: 20px; padding-left:10px;" click [routerLink]="['/page5']">
    <img src="/assets/Group 5.png">

  </div>

  <div style="margin-left: 70%; padding-top: 20px;" click [routerLink]="['/page5']">
    <img src="/assets/Cancel.png">
  </div>
    
</ion-header>

<ion-content fullscreen>
  <ion-header collapse="condense" class="ion-no-border"> </ion-header>
  <ion-title class="title" size="large">What is in the package?</ion-title>

  <p class="package"> What is in the package?</p>
  <p class="note">Additional Note(Optional)</p>
  
    

  <ion-input label-placement="floating" fill="solid" placeholder="Enter text"></ion-input>
  <ion-input class="additional" label-placement="floating" fill="solid" placeholder="Enter text"></ion-input>

  <ion-button fill="solid" [routerLink]="['/picture']"> Next </ion-button>




</ion-content>
