
ion-content{
    --background: linear-gradient(0deg,rgba(0,0,0,0.7), rgba(0,0,0,0.1)),
    url("/assets/rider.png") no-repeat center center /cover;

}

.go{
    height: 10%;
    width: 100%;
    max-width:55px;
    background: #fff;
    right: 0;
    margin-left: 161px;
    margin-right: 161px;
    bottom: 0;
    margin-top:745px; 
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
    background-color: lightslategray;

}
