<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    

    <img width="" height="" alt="dot" label="dot" class="dot"src="/assets/rider.png" />
  </ion-header>
</ion-content>
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button id="open-action-sheet">
    <ion-icon name="chevron-up-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button>
      <ion-icon name="document"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="color-palette"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="globe"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-action-sheet trigger="open-action-sheet" header="Actions" [buttons]="actionSheetButtons">

 
</ion-action-sheet>
