<ion-header class="ion-no-border" style="margin-bottom: 10%;">
  <div style="position:absolute; padding-top: 20px; padding-left:10px;" click [routerLink]="['/page5']">
    <img src="/assets/Group 5.png">

  </div>

  <div style="margin-left: 70%; padding-top: 20px;" click [routerLink]="['/payment']">
    <img src="/assets/Cancel.png">
  </div>
</ion-header>

<ion-content padding class="background" fullscreen="false" background-repeat="no-repeat">
 
  <img class="rider" src="../assets/Group.png">
  <img class="bikes" src="../assets/bikes.png">
  <img class="bike-icon" src="../assets/bike-icon.png">
  <img class="radar" src="../assets/radar.png">

  <ion-button fill="outline" [routerLink]="['/route']"> View Progress </ion-button>

  <p class="cncl">Cancel</p>
  
</ion-content>
